
.container{
    max-width:600px;
}

.btn{
    color:white;
    outline:none !important;
    box-shadow:none !important;
}

.username{
    font-weight: bold;
}

.time{
    font-size:0.7em;
    color: #9999;
}

.update-msg{
    text-align: center;
    margin:20px auto;
}
